<app-nav-bar pageTitle="home"></app-nav-bar>

<app-user-card
  userName="Nombre de Usuario 1"
  userProfileImage="url_de_la_imagen_1.jpg"
  additionalInfo="Información adicional sobre el Usuario 1"
></app-user-card>

<app-user-card
  userName="Nombre de Usuario 2"
  userProfileImage="url_de_la_imagen_2.jpg"
  additionalInfo="Información adicional sobre el Usuario 2"
></app-user-card>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let color of colores">
        <app-color-list [color]="color"></app-color-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
